h5 {
  font-size: 2.75rem;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}

.block1 {
  background-color: #025f9e;
  text-align: center;
  padding-top: 4vh;
  height: 146px;

  .bold {
    font-weight: bold;
    font-size: 2.5rem;
    color: #fff;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .sub-label {
    font-size: 0.75rem;
    color: orange;
    font-weight: normal;
  }
}

.article {
  text-align: center;
  background-color: #025f9e;
  height: 386px;
}

h3 {
  margin: auto;
  color: #fff;
  width: 310px;
  padding-top: 12vh;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p.para {
  margin: auto;
  font-size: 1rem;
  color: #fff;
  width: 300px;
  padding-top: 15px;
}

.btn.btn-warning {
  color: #fff;
  background-color: orange;
}
