body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

h2 {
  font-weight: bold;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: - 1.75;
  color: #025f9e;
}